<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@report.errors.count, "error") %>
        prohibited this template from being saved:
      </h2>
      <ul>
        <% @report.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <label><h1> <%= "#{t("selected template")}" %> : <%= @report.template.name %> </h1></label>
        <%= f.file_field :data_files, :multiple => true, class: 'form-control' %>
        <%= f.hidden_field :template_id, value: @report.template_id %>
      </div>
    </div>
  </div>


  <%= f.submit 'Upload' %>
<% end %>
</br>
<div class="row">
  
</div>
<h2><%= t('Uploaded files') %></h2>
<div class="row">
  <div class="col-xs-12 col-md-6">
      <% if @report.data_files.attached? %>
        <% @report.data_files.each do |file| %>
          <%= link_to file.filename, rails_blob_path(file, disposition: "attachment") %>
          </br>
          <% @url = ActiveStorage::Blob.service.send(:path_for, file.key) %>
          <%  @csv_data = CSV.parse(File.read(@url, encoding: 'bom|utf-8'), headers: true) %>
          <b>Total rows: <%= @csv_data.count  %></b>
          </br>
          <textarea readonly cols="40" id="person_description" name="person[description]" rows="20"><%= @csv_data.headers %></textarea>
          </br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-6">
<%= form_for :@report, url: report_generatedocx_path, method: :post  do |f| %>
  <%= f.hidden_field :report_id, value: @report.id %>
  <%= f.submit 'Generate' %>
<% end %>
</div>
<br>
<div class="col-xs-12 col-md-6">
<% if @report.output_file.attached? %>
  
  <%= link_to  @report.output_file.filename, rails_blob_path( @report.output_file, disposition: "attachment") %>
  </br>

<% end %>
</div>
